<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas App</title>
  </head>
  <body>
    <h1>Nueva tarea</h1>
    <form action="{% url 'task_list' %}" method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Enviar</button>
    </form>
    <h1>Lista de tareas</h1>
    <ul>
      {% for task in tasks %}
      <li>
        <pre><b>Nombre:</b>  {{ task.title }}     <b>Descripción:</b> {{ task.description }}      <b>Completada:</b>({{ task.completed|yesno:"Sí,No"}})</pre>
      </li>
      {% empty %}
      <li>No existen tareas por hacer</li>
      {% endfor %}
    </ul>
  </body>
</html>
