<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar tarea</title>
  </head>
  <body>
    <h1>Editar tarea</h1>
    <form action="{% url 'task_edit' pk=task.pk %}" method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Aceptar</button>
    </form>
    <br />
    <form action="{% url 'home' %}" method="get">
      <button type="submit">Cancelar</button>
    </form>
  </body>
</html>
