<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas App</title>
  </head>
  <body>
    <h1>Descripción de la Tarea:</h1>

    <h3>Título: {{ task.title }}</h3>
    <h3>Resumen: {{ task.description }}</h3>
    <h3>Completada: {{ task.completed|yesno:"Sí,No" }}</h3>
    <br />
    <form action="{% url 'home' %}" method="get">
      <button type="submit">Volver</button>
    </form>
    <br />
    <form action="{% url 'task_edit' pk=task.pk %}" method="get">
      <button type="submit">Editar</button>
    </form>
  </body>
</html>
